body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 100%;
}

#irritant {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px;
}