body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

#irritant5 {  
    position: absolute;
    transform: translate(-40%, -40%);
    align-items: flex-end;
}

#captcha {
    margin-top: 20px;
    font-size: 18px;
}

#captcha-input {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}